body {
    padding: 0px;
    margin: 0px;
}

#hero {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 100vh;
    text-align: center;
}

h1, h2 {
    color: white;
}

#profile-img {
    height: 380px;
    border-radius: 50%;
}

p {
    color: white;
}

#main_heading1 {
    font-size: 3rem;
    font-family: zen dots;
    margin: 0px;
    font-weight: 100;
}

.fa-solid {
    font-size: 0.6rem;
    margin-right: 10px;
}

#main_heading2 {
    margin-bottom: 10px;
    font-weight: 100;
}

.name {
    text-align: end;
    font-family: Poppins;
    font-size: 1.25rem;
    margin-right: 25px;
    padding: 0px;
    position: relative;
    bottom: 30px;
}

.post {
    font-family: zen dots;
    font-size: 2.18rem;
    margin-left: 25px;
    position: relative;
    bottom: 55px;
    
}

.second_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 100vh;
    text-align: center;
}

#heading_3 {
    font-family: Rowdies;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 50px;
}

#about_para {
    font-size: 35px;
    font-family: Poppins, Helvetica;
}

.sec_3_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#about_me_heading {
    font-family: rowdies;
    font-size: 2.5rem;

}

#about_me_heading h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.card {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    margin: 50px;
    width: 250px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 15px 0.5px darkslateblue;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card_heading {
    font-size: 2.5rem;
    font-family: rowdies;
    color: white;
}

.card p {
    margin-top: 35px;
    font-size: 1rem;
}

.edu {
    font-family: Poppins, helvetica, sans-serif;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
}

.skills {
    font-family: Poppins, helvetica, sans-serif;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    transform: scale(1.1);
}

.lang {
    font-family: Poppins;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
}

@media (min-width: 300px) and (max-width: 480px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        padding-top: 35px;
    }

    #profile-img {
        height: 250px;
        border-radius: 50%;
    }
    
    .fa-solid {
        font-size: 0.6rem;
        margin-right: 10px;
    }

    #main_heading1 {
        font-size: 40px;
        margin-bottom: 25px;
    }
    
    #main_heading2 {
        margin-bottom: 10px;
        font-weight: 100;
        margin-left: 0px;
        margin-bottom: 25px;
    }
    
    .name {
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        padding: 0px;
        margin-right: 0PX;
    }
    
    .post {
        font-family: zen dots;
        font-size: 32px;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
    }

    .second_container {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }

    #heading_3 {
        font-size: 40px;
    }

    #about_para {
        font-size: 20px;
        font-family: Poppins, Helvetica;
        text-align: center;
        margin-top: 25px;
    }

    .sec_3_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #about_me_heading h2 {
        font-size: 40px;
    }

    #about_me_heading {
        margin-top: 25px;
    }

    .card_container {
        flex-direction: column;
        height: auto;
    }

    .card {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        margin: 0px;
        margin-top: 50px;
        width: 200px;
        height: 400px;
        box-shadow: 0 10px 15px rgba(9, 255, 0, 0.1);
    }

    .card_heading {
        font-size: 32px;
    }
    
    .card p {
        margin-top: 10px;
        font-size: 16px;
        margin-top: 25px;
    }
    
}